<!DOCTYPE html<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">   
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Orb</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Boing!"/>
  <meta http-equiv="content-language" content="en" />
  <%= microid 'nclaude@gmail.com' %>
  <!-- Favicons
  <link rel="shortcut icon" href="" />
  <link rel="icon" href="http://cdn.last.fm/matt/favicon.ico" />
  <link rel="icon" type="image/png" href="http://cdn.last.fm/matt/nice_favicon.png" />
  <link rel="apple-touch-icon" href="http://cdn.last.fm/depth/apple-touch-icon.png" />
  -->
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <%= yield %>
</body>
</html>